<filesMatch "\.(html|js|css|json|)$">
fileETag None
	<ifModule mod_headers.c>
	Header unset ETag
	Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
	header set Pragma "no-cache"
	</ifModule>
</filesMatch>