*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	text-align: center;
}
.maze-box{
	width: fit-content;
	height: fit-content;
	padding: 5px;
	margin: 0 auto;
}
#maze{
	background-color: red;
	margin: 0 auto;
}